* {
  box-sizing: border-box;
}
body {
  background-image: url(./background.webp);
  background-size: 400px;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
[class^="col"] {
  padding: 0 15px;
}
.col-1 {
  flex: 8.3% 0 0;
}
.col-2 {
  flex: 16.6% 0 0;
}
.col-3 {
  flex: 25% 0 0;
}
.col-4 {
  flex: 33.3% 0 0;
}
.col-5 {
  flex: 41.6% 0 0;
}
.col-6 {
  flex: 50% 0 0;
}
.col-7 {
  flex: 58.3% 0 0;
}
.col-8 {
  flex: 66.6% 0 0;
}
.col-9 {
  flex: 75% 0 0;
}
.col-10 {
  flex: 83% 0 0;
}
.col-11 {
  flex: 91.6% 0 0;
}
.col-12 {
  flex: 100% 0 0;
}

.card {
  box-shadow: 10px 10px 0 tomato;
  background-color: white;
  margin-bottom: 30px;
  border: 1px solid tomato;
  transition: all 50ms ease-out;
}
.card:hover {
  transform: scale(1.05) rotate(-2deg);
}
.card.card-horizonal {
  display: flex;
}
.card .card-image {
  width: 100%;
}
.card.card-horizonal .card-image {
  width: 30%;
}
.card .card-content {
  padding: 10px 15px;
}